.container {
  padding-bottom: 4%;
  width: 100%;
  height: 100%;
  perspective: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 600px;
  height: 600px;
  position: relative;
  transition: all 0.5s linear;
  transform-style: preserve-3d;
}

.front,
.back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.front {
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  backface-visibility: hidden;
}

.back {
  z-index: 1;
  transform: rotateY(180deg);
}

.container:hover .card {
  transform: rotateY(180deg);
}

.projectImage {
  width: 70%;
  height: 50%;
  margin-top: 2%;
}
.title {
  font-size: 2rem;
  color: white;
  font-weight: 500;
  text-align: center;
  margin: 0px;
  padding: 0px;
  padding-top: 4%;
}

.description {
  color: white;
  font-size: 1.4rem;
  max-width: 70%;
  text-align: center;
  margin-top: 1%;
}

.clockwise {
  transform: rotate(4deg);
}
.counterclockwise {
  transform: rotate(-4deg);
}

.highlightText {
  font-size: 1.6rem;
  color: white;
  margin: 2% 0%;
}
.info {
  margin-left: 5%;
}

.list {
  color: white;
  font-size: 1.2rem;
  margin: 0px 0px 2% 0px;
}

.role {
  color: white;
  font-size: 1.2rem;
  margin: 0px;
  padding: 0px;
}

.repo {
  text-decoration: none;
  color: white;
}

.repoContainer {
  margin-top: 4%;
  text-align: center;
}

@media screen and (max-width: 1300px) {
  .card {
    width: 500px;
    height: 500px;
  }
}
@media screen and (max-width: 1200px) {
  .title {
    font-size: 1.8rem;
  }
  .description {
    font-size: 1.2rem;
  }
  .card {
    width: 450px;
    height: 450px;
  }

  .list {
    font-size: 1rem;
  }

  .highlightText {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 1000px) {
  .title {
    font-size: 1.8rem;
  }
  .description {
    font-size: 1.2rem;
  }
  .card {
    width: 410px;
    height: 410px;
  }
}
@media screen and (max-width: 800px) {
  .card {
    width: 375px;
    height: 375px;
  }
  .title {
    font-size: 1.6rem;
  }
  .description {
    font-size: 1rem;
  }
  .projectImage {
    width: 90%;
  }
}
@media screen and (max-width: 650px) {
  .card {
    width: 500px;
    height: 500px;
  }
}
@media screen and (max-width: 600px) {
  .card {
    width: 475px;
    height: 475px;
  }
  .title {
    font-size: 1.8rem;
  }
  .description {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 550px) {
  .card {
    width: 450px;
    height: 450px;
  }
}
@media screen and (max-width: 450px) {
  .title {
    font-size: 1.6rem;
  }
  .description {
    font-size: 1rem;
  }
}
@media screen and (max-width: 550px) {
  .card {
    width: 400px;
    height: 400px;
  }
}
@media screen and (max-width: 425px) {
  .card {
    width: 350px;
    height: 350px;
  }
  .repo {
    margin-top: 2%;
  }
  .highlightText {
    font-size: 1.3rem;
  }
  .list {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 360px) {
  .card {
    width: 325px;
    height: 325px;
  }
}
@media screen and (max-width: 350px) {
  .card {
    width: 300px;
    height: 300px;
  }
}
