.navbarContainer {
  display: flex;
  align-items: center;
  background-color: #2e2e2e;
  justify-content: center;
  padding-top: 2%;
}

.logo {
  width: 40px;
}

.link {
  text-decoration: none;
  color: #fff940;
  padding: 0px 5px;
  font-size: 1.4rem;
}

@media screen and (max-width: 600px) {
  .link {
    font-size: 1.2rem;
  }
  .navbarContainer {
    padding-top: 4%;
  }
}
